@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-excel-green: var(--excel-green);
  --color-excel-dark: var(--excel-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #f8fafc;
  /* slate-50 */
  --foreground: #0f172a;
  /* slate-900 */
  --excel-green: #217346;
  --excel-dark: #1e293b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    /* slate-900 */
    --foreground: #f8fafc;
    /* slate-50 */
    --excel-green: #217346;
    --excel-dark: #cbd5e1;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}